body{
    font-family: 'poppins' , sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.kab{
    color: orange;
}
.flexible_container{
    display: flex;
}
.width{
    width: 100%;
    padding-left: 2%;
}
.width img{ 
    
        width: 90%;
        padding-left: 10%;
        margin-top: 20px;
        
}
button{
    color: blue;
    font-weight: bolder;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    
}
.bgimg{
    background-image: url(img/pexels-hngstrm-1939485.jpg);
    height: 580px;
   
}
p{
    font-style: italic;
    font-weight: 800;
    color: green  ;
}
.campus{
    display: flex;
   padding-top: 30px;
   padding-bottom: 50px;
   margin-left: 10px;
   background-image: url(img/pexels-pixelcop-2680270.jpg);
   height: 330px;
   padding-top: 20px;
   padding-left: 15px;
   padding-bottom: 50px;
   margin-top: 15px;
   margin-bottom: 20px;
   
}

.tpara{
    width: 500%;
    color: gold;
}
.tpara img{
    width: 90%;
    padding-left: 20px;
    padding-top: 10px;
}
.tparao{
    color: rgb(0, 0, 0);
    font-size: larger;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-top: -10px;
}
.but{
    margin-top: -20px;
    margin-left: 450px;
    padding-top: 5px;
    margin-bottom: 10px;
}
.flex_nxt{
    display: flex;
    background-image: url(img/pexels-hngstrm-1939485.jpg);
    background-repeat: no-repeat;
    margin-right: 10px;
    margin-left: 10px;
    height: 230px;
    margin-bottom: 80px;
    

}
.lastbg{
    margin-left: 20px;
    margin-bottom: 30px;
}
.lastsec{
    margin-left: 450px;
    margin-top: 5%;
    border: 10px;
}
.lastbg{
    border: 10px 10px;
    border-radius: 20px 20px;
      box-shadow: 10px 10px rgb(89, 240, 8);
      margin-right: 10px;
      color:orangered;
    }
    .bgd{
        color: rgb(249, 12, 166);
    }